### *一、日期和时间数据类型及工具*  
![](https://camo.githubusercontent.com/a4ccfe1623c56eb9a6e7c1662eac51c5f54916472721066c3fe57c5c82b2fb68/687474703a2f2f75706c6f61642d696d616765732e6a69616e7368752e696f2f75706c6f61645f696d616765732f373137383639312d346166323631613330356137306165622e706e673f696d6167654d6f6772322f6175746f2d6f7269656e742f7374726970253743696d61676556696577322f322f772f31323430)

In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2022, 8, 15, 20, 47, 34, 156546)

In [2]:
now.year,now.month,now.day

(2022, 8, 15)

In [9]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)
delta

datetime.timedelta(days=926, seconds=56700)

In [10]:
delta.days

926

In [11]:
delta.seconds

56700

In [13]:
from datetime import timedelta
start  = datetime(2011,1,7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

#### *1.1字符串和datetime的相互转换*  
!["datetime格式定义"](https://camo.githubusercontent.com/6fe4b70a2bce293aff0caf0e644fd838103e62ce8e13caf6b5db5d5a7ca36736/687474703a2f2f75706c6f61642d696d616765732e6a69616e7368752e696f2f75706c6f61645f696d616765732f373137383639312d646530313831653166366234356561662e706e673f696d6167654d6f6772322f6175746f2d6f7269656e742f7374726970253743696d61676556696577322f322f772f31323430)

In [14]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [91]:
stamp.strftime("%Y-%m-%d")

'2011-03-12'

In [92]:
stamp.strftime("%Y年%m月%d日")

'2011年03月12日'

In [17]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [19]:
# 第三方包中的parser.parse方法
# dateutil可以解析几乎所有人类能够理解的日期表示形式：
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [20]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [21]:
# 日出现在月的前面
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [22]:
import pandas as pd
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [23]:
pd.to_datetime(datestrs + [None])

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

### *二、时间序列基础*

In [25]:
# pandas最基本的时间序列类型就是以时间戳
# (通常以Python字符串或datatime对象表示）为索引的Series
from datetime import datetime
import numpy as np
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -1.218289
2011-01-05    0.048197
2011-01-07    0.213121
2011-01-08    0.238292
2011-01-10   -2.033516
2011-01-12   -2.086508
dtype: float64

In [27]:
ts[::2] + ts # ts[::2] 是每隔两个取一个

2011-01-02   -2.436578
2011-01-05         NaN
2011-01-07    0.426243
2011-01-08         NaN
2011-01-10   -4.067033
2011-01-12         NaN
dtype: float64

#### *2.1 索引、选取、子集构造*

In [28]:
ts[ts.index[2]]

0.2131214890444169

In [29]:
ts['1/10/2011']

-2.033516395619477

In [32]:
# datetime对象也可以进行切片：
ts[datetime(2011, 1, 7):]

2011-01-07    0.213121
2011-01-08    0.238292
2011-01-10   -2.033516
2011-01-12   -2.086508
dtype: float64

In [33]:
# 也可以用不存在于该时间序列中的时间戳对其进行切片（即范围查询）
ts['1/6/2011':'1/11/2011']

2011-01-07    0.213121
2011-01-08    0.238292
2011-01-10   -2.033516
dtype: float64

In [30]:
longer_ts = pd.Series(np.random.randn(1000),
                       index=pd.date_range('1/1/2000', periods=1000))
longer_ts

2000-01-01    2.530973
2000-01-02   -0.080733
2000-01-03    0.328164
2000-01-04    0.399506
2000-01-05    0.227827
                ...
2002-09-22    0.498980
2002-09-23    0.603807
2002-09-24    0.746963
2002-09-25    0.220458
2002-09-26   -0.768391
Freq: D, Length: 1000, dtype: float64

In [31]:
# 对于较长的时间序列，只需传入“年”或“年月”即可轻松选取数据的切片：
longer_ts['2001']

2001-01-01   -0.368178
2001-01-02    1.003313
2001-01-03    0.700986
2001-01-04    0.524391
2001-01-05    1.048744
                ...
2001-12-27   -0.274512
2001-12-28   -0.972483
2001-12-29    0.745746
2001-12-30   -0.521378
2001-12-31   -0.975160
Freq: D, Length: 365, dtype: float64

#### *2.2 带有重复索引的时间序列*

In [35]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                         '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [36]:
dup_ts['1/2/2000']  # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [37]:
# 设你想要对具有非唯一时间戳的数据进行聚合
grouped = dup_ts.groupby(level=0) 
grouped.mean()

2000-01-01    0.0
2000-01-02    2.0
2000-01-03    4.0
dtype: float64

### *三、日期的范围、频率以及移动*

In [38]:
ts

2011-01-02   -1.218289
2011-01-05    0.048197
2011-01-07    0.213121
2011-01-08    0.238292
2011-01-10   -2.033516
2011-01-12   -2.086508
dtype: float64

In [94]:
resampler = ts.resample('D')
resampler

#### *3.1 生成日期范围*

In [40]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [41]:
pd.date_range(start='2012-04-01', periods=20) # periods-->时间段

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [42]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM') # "BM"频率（表示business end of month

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

![](https://camo.githubusercontent.com/4c6878be71f09fbffeb32bd94a336e59794330ddb740daf26d2385bb526f2807/687474703a2f2f75706c6f61642d696d616765732e6a69616e7368752e696f2f75706c6f61645f696d616765732f373137383639312d633836313464646264313037393363612e706e673f696d6167654d6f6772322f6175746f2d6f7269656e742f7374726970253743696d61676556696577322f322f772f31323430)
![](https://camo.githubusercontent.com/d188f192c286118142afc7f6194d6ce496edd0a79d39b1eb0eeff9a99e8c8cb0/687474703a2f2f75706c6f61642d696d616765732e6a69616e7368752e696f2f75706c6f61645f696d616765732f373137383639312d386461343662613936353434623037312e706e673f696d6167654d6f6772322f6175746f2d6f7269656e742f7374726970253743696d61676556696577322f322f772f31323430)
![](https://camo.githubusercontent.com/f46d5fc08f9edea0c7d2434d67c22b3a5f003b086a9f3a887cb031a675213509/687474703a2f2f75706c6f61642d696d616765732e6a69616e7368752e696f2f75706c6f61645f696d616765732f373137383639312d336361343130363039313935656463342e706e673f696d6167654d6f6772322f6175746f2d6f7269656e742f7374726970253743696d61676556696577322f322f772f31323430)

In [43]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [44]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

#### *3.2 频率和日期偏移量*

In [45]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [46]:
four_hours = Hour(4)
four_hours

In [47]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [48]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#### *3.3 WOM日期*

In [49]:
# WOM（Week Of Month）是一种非常实用的频率类，它以WOM开头。
# 它使你能获得诸如“每月第3个星期五”之类的日期：
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

#### *3.4 移动（超前和滞后）数据*

In [50]:
ts = pd.Series(np.random.randn(4),
             index=pd.date_range('1/1/2000', periods=4, freq='M'))

ts

2000-01-31   -0.040880
2000-02-29    0.028171
2000-03-31   -0.348799
2000-04-30   -1.119042
Freq: M, dtype: float64

In [51]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.040880
2000-04-30    0.028171
Freq: M, dtype: float64

In [52]:
ts.shift(2, freq='M')

2000-03-31   -0.040880
2000-04-30    0.028171
2000-05-31   -0.348799
2000-06-30   -1.119042
Freq: M, dtype: float64

#### *3.5 通过偏移量对日期进行位移*

In [53]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [54]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [55]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [56]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [57]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [58]:
ts = pd.Series(np.random.randn(20),
    index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -0.621306
2000-01-19    0.693695
2000-01-23    2.546196
2000-01-27   -0.378030
2000-01-31   -0.427958
2000-02-04    1.636695
2000-02-08    0.842131
2000-02-12    0.786292
2000-02-16   -0.185426
2000-02-20   -0.729321
2000-02-24   -1.393309
2000-02-28   -2.354705
2000-03-03   -0.438426
2000-03-07   -0.611422
2000-03-11   -0.779434
2000-03-15    0.472132
2000-03-19   -0.716871
2000-03-23    0.995260
2000-03-27   -0.251213
2000-03-31   -1.327401
Freq: 4D, dtype: float64

In [59]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.362519
2000-02-29   -0.199663
2000-03-31   -0.332172
dtype: float64

In [60]:
ts.resample('M').mean()

2000-01-31    0.362519
2000-02-29   -0.199663
2000-03-31   -0.332172
Freq: M, dtype: float64

### *四、时区处理*

In [61]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [62]:
tz = pytz.timezone('America/New_York')
tz

#### *4.1 时区本地化和转换*

In [63]:
# 默认情况下，pandas中的时间序列是单纯（naive）的时区。看看下面这个时间序列：
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-09 09:30:00    0.496395
2012-03-10 09:30:00   -0.573144
2012-03-11 09:30:00    1.307292
2012-03-12 09:30:00    0.356940
2012-03-13 09:30:00    0.613302
2012-03-14 09:30:00    2.566486
Freq: D, dtype: float64

In [69]:
print(ts.index.tz)

None

In [70]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [71]:
ts

2012-03-09 09:30:00    0.496395
2012-03-10 09:30:00   -0.573144
2012-03-11 09:30:00    1.307292
2012-03-12 09:30:00    0.356940
2012-03-13 09:30:00    0.613302
2012-03-14 09:30:00    2.566486
Freq: D, dtype: float64

In [72]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00    0.496395
2012-03-10 09:30:00+00:00   -0.573144
2012-03-11 09:30:00+00:00    1.307292
2012-03-12 09:30:00+00:00    0.356940
2012-03-13 09:30:00+00:00    0.613302
2012-03-14 09:30:00+00:00    2.566486
Freq: D, dtype: float64

In [73]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [74]:
# 一旦时间序列被本地化到某个特定时区，就可以用tz_convert将其转换到别的时区了：
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00    0.496395
2012-03-10 04:30:00-05:00   -0.573144
2012-03-11 05:30:00-04:00    1.307292
2012-03-12 05:30:00-04:00    0.356940
2012-03-13 05:30:00-04:00    0.613302
2012-03-14 05:30:00-04:00    2.566486
Freq: D, dtype: float64

In [76]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00    0.496395
2012-03-10 14:30:00+00:00   -0.573144
2012-03-11 13:30:00+00:00    1.307292
2012-03-12 13:30:00+00:00    0.356940
2012-03-13 13:30:00+00:00    0.613302
2012-03-14 13:30:00+00:00    2.566486
dtype: float64

In [77]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00    0.496395
2012-03-10 15:30:00+01:00   -0.573144
2012-03-11 14:30:00+01:00    1.307292
2012-03-12 14:30:00+01:00    0.356940
2012-03-13 14:30:00+01:00    0.613302
2012-03-14 14:30:00+01:00    2.566486
dtype: float64

In [78]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq=None)

#### *4.2 操作时区意识型Timestamp对象*

In [79]:
# 跟时间序列和日期范围差不多，独立的Timestamp对象也能被从单纯型（naive）
# 本地化为时区意识型（time zone-aware），并从一个时区转换到另一个时区：
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-03-11 23:00:00-0500', tz='America/New_York')

In [80]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [81]:
stamp_utc.value

1299902400000000000

In [82]:
stamp_utc.tz_convert('America/New_York').value

1299902400000000000

#### *4.3 同时区之间的运算*

In [85]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
ts

2012-03-07 09:30:00    0.240557
2012-03-08 09:30:00   -0.237327
2012-03-09 09:30:00    1.288171
2012-03-12 09:30:00    0.857919
2012-03-13 09:30:00    0.669051
2012-03-14 09:30:00   -0.111521
2012-03-15 09:30:00   -1.229022
2012-03-16 09:30:00    0.163167
2012-03-19 09:30:00    0.838930
2012-03-20 09:30:00    0.465878
Freq: B, dtype: float64

In [88]:
ts1

2012-03-07 09:30:00+00:00    0.240557
2012-03-08 09:30:00+00:00   -0.237327
2012-03-09 09:30:00+00:00    1.288171
2012-03-12 09:30:00+00:00    0.857919
2012-03-13 09:30:00+00:00    0.669051
2012-03-14 09:30:00+00:00   -0.111521
2012-03-15 09:30:00+00:00   -1.229022
dtype: float64

In [89]:
ts2

2012-03-09 13:30:00+04:00    1.288171
2012-03-12 13:30:00+04:00    0.857919
2012-03-13 13:30:00+04:00    0.669051
2012-03-14 13:30:00+04:00   -0.111521
2012-03-15 13:30:00+04:00   -1.229022
dtype: float64

In [86]:
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

### *五、时期及其算术运算*

In [93]:
"""
时期（period）表示的是时间区间，比如数日、数月、数季、数年等。
Period类所表示的就是这种数据类型，其构造函数需要用到一个字符串或整数，以及表11-4中的频率：
"""
p = pd.Period(2007, freq='A-DEC')
p # Period对象表示的是从2007年1月1日到2007年12月31日之间的整段时间

Period('2007', 'A-DEC')

In [95]:
p + 5

Period('2012', 'A-DEC')

In [96]:
# 如果两个Period对象拥有相同的频率，则它们的差就是它们之间的单位数量
pd.Period('2014', freq='A-DEC') - p

In [97]:
"""
period_range函数可用于创建规则的时期范围：
"""
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]')

In [98]:
pd.Series(np.random.randn(6), index=rng)

2000-01    0.686109
2000-02    0.908137
2000-03   -0.661176
2000-04   -1.872806
2000-05   -0.230677
2000-06    0.378479
Freq: M, dtype: float64

In [99]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]')

In [100]:
pd.Series(np.random.randn(3), index=index)

2001Q3    0.836179
2002Q2   -0.770630
2003Q1   -0.743886
Freq: Q-DEC, dtype: float64

#### *5.1 时期的频率转换*